---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok, index, uid } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  id={`panel-${uid}-${index}`}
  role="tabpanel"
  tabindex="0"
  aria-labelledby={`tab-${uid}-${index}`}
  {...{ "hidden": index === 0 ? false : true}}
  class={`-mb-4 grid-category-content relativ block ${index !== 0 && "opacity-0 !h-0"}`} data-grid-category-content={index}
>
  {
    blok.items?.map((blok) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</div>

<style>
  .grid-category-content {
    transition: opacity 0.75s ease-in-out;
  }

  .grid-category-content.opacity-0 > :global(*) {
    display: none;
  }
</style>
