---
import { storyblokEditable } from "@storyblok/astro";

const { blok, isCarousel } = Astro.props;

const assetUrl = blok.asset?.filename;
let dimensions = {
  width: assetUrl.split("/")[5].split("x")[0],
  height: assetUrl.split("/")[5].split("x")[1],
};
---

<div {...storyblokEditable(blok)} class="" data-image>
  <img
    {...{'data-srcset': !isCarousel ? `${assetUrl}/m/900x0/smart/filters:format(webp):quality(60) 900w,${assetUrl}/m/500x0/smart/filters:format(webp):quality(60) 500w,
         ${assetUrl}/m/375x0/smart/filters:format(webp):quality(60) 375w` : false}}
    src={assetUrl + "/m/200x0/smart/filters:format(webp):quality(60)"}
    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    alt={blok.asset?.alt || "Image"}
    data-loading="lazy"
    class="loading"
    height={dimensions?.height}
    width={dimensions?.width}
  />
</div>
