---
import { storyblokEditable } from "@storyblok/astro";
import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";

const { blok } = Astro.props;

const isPropEmpty = (prop) => {
  return (
    prop &&
    prop?.content?.length > 0 &&
    (prop?.content[0]?.content || prop?.content[0]?.attrs)
  );
};
---

<div class="text-section-content mt-8 break-words sm:break-normal" {...storyblokEditable(blok)}>
  <h3 class="uppercase text-lg">{blok.title}</h3>
  {
    isPropEmpty(blok.content2) ? (
      <div class={`grid grid-flow-row sm:grid-flow-col ${blok.wrapIndividually && 'grid-cols-1'} ${blok.isColumn && '!grid-flow-row !grid-cols-1'} ${blok.noWrap && isPropEmpty(blok.content3) && 'grid-cols-[2fr_2fr_1fr] sm:grid-cols-3'} ${!blok.noWrap && !blok.wrapIndividually && 'grid-cols-2'} sm:auto-cols-fr gap-12`}>
        <div>
          <RichTextRenderer richTextData={blok.content} />
        </div>

        <div class={`${!blok.allLeftAligned ? 'sm:justify-self-center' : ''} ${blok.noWrap && 'justify-self-center'}`}>
          <RichTextRenderer richTextData={blok.content2} />
        </div>

        {isPropEmpty(blok.content3) && (
          <div class={`${!blok.allLeftAligned ? 'sm:justify-self-end' : ''} ${!blok.noWrap ? 'col-start-2' : 'justify-self-end'} sm:col-start-3`}>
            <RichTextRenderer richTextData={blok.content3} />
          </div>
        )}
      </div>
    ) : (
      <RichTextRenderer richTextData={blok.content} />
    )
  }
  {
    blok.author && (
      <p class="text-sm mt-4">{blok.author}</p>
    )
  }
</div>

<style>
  :global(.text-section-content h1, .text-section-content h2, .text-section-content h3, .text-section-content h4, .text-section-content h5, .text-section-content h6) {
    @apply capitalize;
    @apply text-sm;
    @apply font-bold;
    @apply mb-4;
  }
</style>